* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: #ede491;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* KANVAS TETAP */
.container {
    position: relative;

    width: 1200px;
    height: 700px;

    flex-shrink: 0;
}

/* SEMUA GAMBAR */
.container img {
    position: absolute;

    width: 100px;
    height: 100px;

    object-fit: contain;
}


/* =========================
   BARIS ATAS
========================= */

.truck {
    left: 100px;
    top: 200px;
}

.money {
    left: 350px;
    top: 200px;
}

.calendar {
    left: 600px;
    top: 200px;
}

.plane {
    left: 850px;
    top: 200px;
}

.location {
    left: 1100px;
    top: 200px;
}


/* =========================
   BARIS BAWAH
========================= */

.box {
    left: 100px;
    top: 400px;
}

.courier {
    left: 350px;
    top: 400px;
}

.globe {
    left: 600px;
    top: 400px;
}

.ship {
    left: 850px;
    top: 400px;
}

.document {
    left: 1100px;
    top: 400px;
}


/* =========================
   IKON TAMBAHAN
========================= */

.coin {
    width: 90px !important;
    height: 90px !important;

    left: 355px !important;
    top: 250px !important;
}

.loc {
    width: 90px !important;
    height: 90px !important;

    left: 1105px !important;
    top: 240px !important;
}

.ceklis {
    width: 90px !important;
    height: 90px !important;

    left: 105px !important;
    top: 400px !important;
}

.paket {
    width: 90px !important;
    height: 90px !important;

    left: 355px !important;
    top: 395px !important;
}

.luc {
    width: 90px !important;
    height: 90px !important;

    left: 605px !important;
    top: 395px !important;
}

.air {
    width: 90px !important;
    height: 90px !important;

    left: 855px !important;
    top: 395px !important;
}

.tulisan {
    width: 90px !important;
    height: 90px !important;

    left: 1105px !important;
    top: 395px !important;
}


/* =========================
   RESPONSIVE HP
========================= */

@media (max-width: 1200px) {

    .container {
        transform: scale(
            min(
                calc(100vw / 1200),
                calc(100vh / 700)
            )
        );
    }
}
